@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .visible {
        visibility: visible;
    }

    .invisible {
        visibility: hidden;
    }
}

.bg-background {
    background-color: #f2f4f6;
}

.tablelike > span, p {
    padding: 0.5rem;
}
